<div  class="col-lg-9 col-md-9 col-sm-8 col-xs-12 form-block">
    <div class="forms-container">
          <div class="row brdr-btm">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="panel panel-default">
                      <div class="panel-heading">Details</div>
                      <table class="table">
                          <tr>
                              <td><b>Email </b></td>
                              <td>{{details.name}}</td>
                          </tr>
                          <tr>
                              <td><b>User Type </b></td>
                              <td>{{details.email}}</td>
                          </tr>
                              <td><b>Last Modified</b></td>
                              <td>{{details.user_type}}</td>
                          </tr>
                              <td><b>User Type </b></td>
                              <td>{{details.updated_at}}</td>
                          </tr>
                      </table>
                  </div>
              </div>
          </div>
    </div>
</div>